#background {
    background-image: url("../images/background.jpg");
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#display-container {
/*    box-shadow: 0 0 50px #000;
*/    position: fixed;
    top: 0;
    left: 15%;
    height: 100%;
    width: 70%;
    z-index: 1;
}

#banner {
    background-color: #d3f3fe;
    border-bottom: 1px solid #336699;
    text-align: center;
    position: fixed;
    top: 0;
    left: 15%;
    height: 100px;
    width: 70%;
    z-index: 99;
}

#banner-image {
    height: 100px;
    width: auto;
}

.textbox {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
    float: right;
}

.inputdiv {
	overflow: auto;
}

p {
	display: inline;
	font-size: 24px;
}

select{
    border: none;
    border-radius: 10px;
    padding: 10px;
}
button {
    background-color: #ff5700;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#side-menu {
    background-color: #cee3f8;
/*    border-right: 1px solid #999;
*/    font-size: 150%;
    padding: 10px;
    position: fixed;
    top: 100px;
    left: 15%;
    height: calc(100% - 120px);
    width: 15%;
    z-index: 98;
}

#displayed-content {
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px;
    position: relative;
    top: 100px;
    left: calc(30% + 20px);
    min-height: calc(100% - 120px);
    width: calc(55% - 40px);
    z-index: 97;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
    font: 10px sans-serif;
  background-color: #eff7ff;
  background-image: url("static/images/background.jpg");
}

html {
	height: 100%;
	width: 100%;
	margin: 0px;
}

.wrapper {
  height:100vh;
  display:inline-block;
  flex-direction: column;
}

#content{
    display:inline-block;
}

#header_image{
    height:150px;
}

#orgtable{
    height: 100%;
    width: 100%;
    border-spacing: 0;
}

#header{
width:100%;
text-align:center;
background-color: #D3F3FE;
height: 1px;
}

#sidebar{
    width: 1%;
    background-color: #cee3f8;
    vertical-align: text-top;
}

#sidebar-container{
    width: 400px;
}

#viz_title {
    float: left;
    margin-left: 50px;
}

#side_panel {
	position: fixed;
	height: 100%;
	width: 400px;
}

#viz-cell {
    vertical-align: top;
}

#visualization{
    overflow: scroll;
}

#main {
	background-color: #eff7ff;
    height:80%;
	margin-left: 400px;
}

#tooltip {
    display:none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid #BBB;
    width:150px;
    height:50px;
    position:absolute;
    top:180px;
    left:250px;
    z-index:100;
    text-align: center;
    white-space: pre-line;
    background-color: white;
}

#main_tooltip {
    display:none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid #BBB;
    width:150px;
    height:50px;
    position:absolute;
    top:180px;
    left:250px;
    z-index:100;
    text-align: center;
    white-space: pre-line;
    background-color: white;
}

div {
    clear: both;
}

label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

input.radio:empty {
    margin-left: -999px;
}

input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

input.radio:checked ~ label {
    color: #777;
}

#phrasediv {
    display: none;
}

#subredditdiv {
    display: none;
}

#yeardiv {
    display: none;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: lightblue;
}

div.tooltip { 
    position: absolute;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
<<<<<<< HEAD
}

#loading {
    display: none;
=======
    position:absolute;
    z-index: 100;
>>>>>>> f401dd34af477516aba3facb950de348ffc35944
}