<!DOCTYPE html>
<meta charset="utf-8">
<head>
	<script src="//d3js.org/d3.v3.min.js"></script>
<script src="//d3js.org/queue.v1.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<style>

.states {
  fill: none;
  stroke: white;
  stroke-linejoin: round;
}

.t1 {fill: red;
opacity: .6;}
.t1:hover{opacity: 1;}
.t2 {fill: orange;opacity: .6;}
.t2:hover{opacity: 1;}
.t3 {fill: yellow;opacity: .6;}
.t3:hover{opacity:1;}
.t4 {fill: green;opacity: .6;}
.t4:hover{opacity:1;}
.t5 {fill: blue;opacity: .6;}
.t5:hover{opacity:1;}
.t6 {fill: purple;opacity: .6;}
.t6:hover{opacity:1;}


.dropdown{
	position:absolute;
	right: 370px;
	top:100px;
}
div.tooltip { 
    position: absolute;     
    text-align: center;
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
    text-shadow: #f5f5f5 0 1px 0;
}
.legend {
	font: 12px sans-serif;
}

</style>
</head>

<body>
	<a href = "test">click me!</a>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Select type to view
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" onclick="update('category')">category</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" onclick="update('age')">age</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" onclick="update('marital_status')">marital_status</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" onclick="update('device')">device</a></li>    
      <li role="presentation"><a role="menuitem" tabindex="-1" onclick="update('gender')">gender</a></li>
    </ul>
  </div>

<script>
$(document).ready(function(){
    $(".dropdown").on("show.bs.dropdown");
});

var width = 1200,
    height = 800;

var projection = d3.geo.albersUsa()
    .scale(1280)
    .translate([width / 2 - 100, height / 2 - 40]);

var path = d3.geo.path()
    .projection(projection);

var abbrToName = {};
var idToName = {};

var stateInfo = {};

queue()
    .defer(d3.json, "static/us.json")
    .defer(d3.json, "static/data.json")
    .defer(d3.tsv, "static/us-state-names.tsv", function(tsv){
    	idToName[tsv.id] = tsv.name;
    	abbrToName[tsv.code] = tsv.name;
    })
    .await(ready);

function ready(error, fileUS, data) {
	if (error) throw error;
	us = fileUS;

	var states = {};
	for (var i in abbrToName){
		states[abbrToName[i]] = {
			age : {},
			category : {},
			device : {},
			event_name : {},
			gender : {},
			marital_status : {},
		}
	}

	for (var i in data.data) {
		state = abbrToName[data.data[i].location.state];
		if (state in states){
			var element = data.data[i]

			if (states[state].age[element.age] == undefined) states[state].age[element.age] = 0;
			if (states[state].category[element.category] == undefined) states[state].category[element.category] = 0;
			if (states[state].device[element.device] == undefined) states[state].device[element.device] = 0;
			if (states[state].event_name[element.event_name] == undefined) states[state].event_name[element.event_name] = 0;
			if (states[state].gender[element.gender] == undefined) states[state].gender[element.gender] = 0;
			if (states[state].marital_status[element.marital_status] == undefined) states[state].marital_status[element.marital_status] = 0;

			states[state].age[element.age] += 1;
			states[state].category[element.category] += 1;
			states[state].device[element.device] += 1;
			states[state].event_name[element.event_name] += 1;
			states[state].gender[element.gender] += 1;
			states[state].marital_status[element.marital_status] += 1;
		}
	}
	stateInfo = states;
	update("age");
}

var typesObj = {
		category: {"Environment" : 1, "Fashion": 2, "Games": 3, "Sports":4, "Technology":5},
		age: {"18-24" : 1, "25-34": 2, "35-44": 3, "45-54":4, "55+":5},
		marital_status: {"single" : 1, "married": 2},
		device: {"iOS" : 1, "android": 2, "windows phone": 3},
		gender: {"M" : 1, "F": 2, "U": 3}
}

function update(type){
	d3.select("svg").remove();
	var svg = d3.select("body").append("svg")
	    .attr("width", width)
	    .attr("height", height);

	types = typesObj[type];

	var div = d3.select("body").append("div")	
	    .attr("class", "tooltip")				
	    .style("opacity", 0);

		svg.append("g")
		.attr("class", "states")
		.selectAll("path")
		.data(topojson.feature(us, us.objects.states).features)
		.enter().append("path")
		.attr("class", function(d){
			var sortable = [];
			var obj = stateInfo[idToName[d.id]][type];
			for (var item in obj)
				sortable.push([item, obj[item]])
			sortable.sort(function(a, b) {return b[1] - a[1]});
			if (sortable.length > 0){
				return "t" + types[sortable[0][0]];
			}
		})
		.attr("d", path)
			.on("mouseover", function(d) {		
            div.transition()		
                .duration(200)		
                .style("opacity", 1);		
            div	.html("<b>" + idToName[d.id] + "</b>" + "<br/>" +  prettyString(stateInfo[idToName[d.id]][type]))	
                .style("left", (d3.event.pageX) + "px")
                .style("top", (d3.event.pageY - 28) + "px");	
            })					
        .on("mouseout", function(d) {		
            div.transition()		
                .duration(500)		
                .style("opacity", 0);});

	svg.append("path")
		.datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
		.attr("class", "states")
		.attr("d", path);

	var colorsHack = ["red", "orange", "yellow", "green", "blue"];
	var legend_labels = Object.keys(types);
	var colors = [];
	for (var i in legend_labels){
		colors.push(colorsHack[i]);
	}

	var legend = svg.selectAll("g.legend")
	.data(colors)
	.enter().append("g")
	.attr("class", "legend");

	var ls_w = 20, ls_h = 20;
	legend.append("text")
		.attr("x", width-200)
		.attr("y", 170)
		.text("Legend (" + type + ")");

	legend.append("rect")
		.attr("x", width-200)
		.attr("y", function(d, i){ return 140 +(i*ls_h) + 2*ls_h;})
		.attr("width", ls_w)
		.attr("height", ls_h)
		.style("fill", function(d, i) { return d; })
		.style("opacity", 0.8);

	legend.append("text")
		.attr("x", width-170)
		.attr("y", function(d, i){ return 140 + (i*ls_h) + 3*ls_h - 4;})
		.text(function(d, i){ return legend_labels[i]; });

	svg.append("text")
        .attr("x", (width / 2))
        .attr("y", 50)
        .attr("text-anchor", "middle")  
        .style("font-size", "16px") 
        .style("text-decoration", "underline")  
        .text("Breakdown of " + type + " in the US");
	}

function prettyString(info){
	var s = "";
	var sortable = [];
	var total = 0;
	for (var type in info){
		sortable.push([type, info[type]])
		total += info[type];
	}
	sortable.sort(function(a, b) {return b[1] - a[1]});

	for (var i in sortable){
		s += sortable[i][0] + ": " + Math.round(sortable[i][1]/total * 100) + "%<br/>";
	}
	return s;
}
d3.select(self.frameElement).style("height", height + "px");
</script>